.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  font-size: 48px;
  
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .8s ease-in;
}

.display-3 {
color: rgb(255, 255, 255);
  font-family: 'IM Fell Great Primer', serif;
  text-align: left;
  margin-bottom:0;




}

.jumbotron {
  background-image: url(./nespera.png);
background-repeat: no-repeat;
background-position: center;

background-repeat: repeat;
display: flex;
justify-content: center;
flex-wrap: wrap;
background-color: rgba(66, 85, 69, 0.753);
background-blend-mode: difference;
padding: 0 5%;
margin:2%;
text-justify: center;
border: solid 2px;
}

.overjumbo {
  
 
 margin: 0;
 background-blend-mode:difference;
 border-bottom-left-radius: 10%;
 border-bottom-right-radius: 10%;
 padding: 3px;
 display: flex;
 align-items: center;

}

.lead {
  color: whitesmoke;
  font-weight: normal;
  padding: 1%;
  

}

.btnmenu {
  display: flex;
  margin-bottom: 3%;
}
.menubtn {
  background-color: rgb(184, 161, 149);
  margin: 2%;
  border: solid 2px;
  box-shadow: 3px 3px ;
  height: fit-content;
  max-width:106px;
  font-size: 80%;
  font-weight: bold
  
  
}