.App {
  text-align: center;
  background-color: black;
}

h3 {
  font-family: "IM Fell Great Primer", serif;
}

body {
  background-color: ivory;
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}

.display-3 {
  color: rgb(255, 255, 255);
  font-family: "IM Fell Great Primer", serif;
  text-align: justify;
  margin-bottom: 0;
}
.display-5 {
  margin-top:8%;
  color: rgb(255, 255, 255);
  font-family: "IM Fell Great Primer", serif;
  text-align: center;
  
}

.jumbotron {
  background-image: url(./nespera.png);
  background-repeat: no-repeat;
  background-position: center;

  background-repeat: repeat;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgba(66, 85, 69, 0.753);
  background-blend-mode: difference;
  padding: 0 5%;
  margin: 0 2%;
  text-justify: center;
  border: solid 2px;
  min-height: 22em;
}
.jumbotronquestion {
  background-image: url(./nespera.png);
  background-repeat: no-repeat;
  background-position: center;

  background-repeat: repeat;
  display: flex;
  
  flex-direction: column;
  align-items: center;
  background-color: rgba(66, 85, 69, 0.753);
  background-blend-mode: difference;
  padding: 0 5%;
  margin: 0 2%;
  border: solid 2px;
  min-height: 22em;
}

.overjumbo {
  margin: 0;
  
  padding: 3px;
  display: flex;
  align-items: center;
}

.lead {
  color: whitesmoke;
  font-weight: normal;
  padding: 1%;
}

.btnmenu {
  display: flex;
  margin-bottom: 3%;
}

.btngroupquestion {
  display: flex;
  margin-bottom: 3%;
  flex-direction: column;
  
}



.menubtn {
  background-color: rgb(235, 224, 219);
  margin: 2%;
  border: solid 2px;
  box-shadow: 3px 3px;
  height: fit-content;
  max-width: 95px;
  font-size: 90%;
  font-family: "IM Fell Great Primer", serif;
}

.btnquestion {
  background-color: rgb(235, 224, 219);
  margin: 2%;
  border: solid 2px;
  box-shadow: 3px 3px;
  height: fit-content;
  font-size: 90%;
  font-family: "IM Fell Great Primer", serif;
}












.tagline {
  display: block;

  font-variant: small-caps;
  margin: 0 auto;
  text-align: center;
}

nav a {
  font-variant: small-caps;
  color: black;
}

nav {
  display: flex;
  justify-content: space-around;
  vertical-align: bottom;
  margin: 0.4em 0;
}

.topquestions {
  margin: 3%;
}

.forms {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}

.signinLink {
  margin-top: 0.5em;
  margin-left: -8em;
}

.createQuestion-form {
  margin-top: 1.5em;
}
.edit-buttons {
  margin-bottom: 1em;
}
